{% extends 'base.html' %}
{% block content %}
    {% if product.image %}
        <figure class="image is-4by3 mb-6">
            <img src="{{ product.image.url }}">
        </figure>
    {% endif %}


    <h1 class="title">{{ product.title }}, {{ product.price }}</h1>
    <p class="mb-6"><span class="tag is-dark">{{ product.vendor.name }}</span></p>
    <p>{{ product.description }}</p>
    <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="notification is-success is-toast">{{ message }}</div>
        {% endfor %}

    {% endif %}

    <form method="post" action=".">
        {% csrf_token %}

        <div class="filed has-addons">
            <div class="control">
                <input type="number" name="quantity" value="1" class="input" min="1">
            </div>
             <div class="control">
                <button class="button is-dark -is-uppercase">Add to Cart</button>
            </div>
        </div>
    </form>

    {% if similar_product %}
        <hr>
        <div class="column is-multiline">
            <div class="column is-12">
                <h2 class="subtitle">Similar Product</h2>
            </div>
        </div>

        {% for product in similar_product %}
            {% include 'product/parts/list_item.html' %}
        {% endfor %}



    {% endif %}


{% endblock %}